---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to SkySpace.">
  <main class="flex flex-col items-center justify-center">
    <h1 class="text-6xl mb-8">SkySpace</h1>
    <img src="/underconstruction.gif" />
  </main>

  <style>
    main {
      background-color: lime;
      height: 100vh;
      width: 100vw;
      /* margin: auto; */
      /* padding: 1.5rem; */
      /* max-width: 60ch; */
    }
    h1 {
      /* font-size: 3rem; */
      /* font-weight: 800; */
      /* margin: 0; */
      font-family: "Comic Sans MS", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  </style>
</Layout>
