---
export interface Props {
  displayName?: string;
}
import Card from "./Card.astro";

const { displayName } = Astro.props;
---

<Card>
  <h3 class="font-bold mb-2">Contacting <span>{displayName}</span></h3>
  <ul>
    <li class="py-2">Send Message</li>
    <li class="py-2">Add to Friends</li>
  </ul>
</Card>
